<div class="card-footer navbar-dark bg-dark footer">
  <div class="container">
    <div class="row">
      <div class="col-5">
        <h4>Datos de contacto</h4>
        <ul>
          <li>
            Email: <span class="contact">ajsobrinodevelor@gmail.com</span>
          </li>
          <li>Twitter: <span class="contact"> @elaletanegrito</span></li>
        </ul>
      </div>
      <div class="col-2">
        <p class="copy">&copy;{{ year }}</p>
      </div>
      <div class="col-5">
        <h4>Datos curriculares</h4>
        <ul>
          <li>Graduado en Matemáticas</li>
          <li>Desarrollador de software</li>
        </ul>
      </div>
    </div>
  </div>
</div>
