<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">English App</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/welcome" routerLinkActive="active"
          >Welcome</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/save" routerLinkActive="active">Register word</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/list" routerLinkActive="active">List words</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" routerLink="/game" routerLinkActive="active">Game</a>
      </li>
    </ul>
  </div>
</nav>
