<div class="container home">
<div class="row">
    <div class="col-6">
        I am Antonio the developer of the app, I built the app because I need to improve my english level, therefore I thought that
        the app could help me.
        That is a application very simple where you can practise your english vocabulary.
        I wait what you like it a lots.
    </div>
    <div class="col-6">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. A eaque animi nostrum voluptatum repellat vero minus earum voluptates nulla laborum, excepturi vitae rem neque illum voluptas, natus nisi repudiandae! Consequatur?
    </div>
</div>
</div>